<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilePath" value="C:\data\TournamentTracker"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString_Tournaments_DB" connectionString="Server=localhost;Database=tournaments;Uid=root;Pwd=toor;" providerName="System.Data.MySqlClient"/>
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>

